parameters:
	ignoreErrors:
		-
			message: '#^File ends with a trailing whitespace\. This may cause problems when running the code in the web browser\. Remove the closing \?\> mark or remove the whitespace\.$#'
			identifier: whitespace.fileEnd
			count: 1
			path: admin/editor-js.php

		-
			message: '#^File ends with a trailing whitespace\. This may cause problems when running the code in the web browser\. Remove the closing \?\> mark or remove the whitespace\.$#'
			identifier: whitespace.fileEnd
			count: 1
			path: admin/manage-categories.php

		-
			message: '#^File ends with a trailing whitespace\. This may cause problems when running the code in the web browser\. Remove the closing \?\> mark or remove the whitespace\.$#'
			identifier: whitespace.fileEnd
			count: 1
			path: admin/manage-tags.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: var/Typecho/Http/Client.php

		-
			message: '#^Function singlePing not found\.$#'
			identifier: function.notFound
			count: 1
			path: var/Widget/Comments/Ping.php

		-
			message: '#^Function themeConfig not found\.$#'
			identifier: function.notFound
			count: 1
			path: var/Widget/Themes/Config.php
